.comment-form-main-container {
    width: 400px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-form > button {
    background-color: rgb(43, 41, 41);
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 5px
}