.menu {
    background-color: black;
    color: white;
    padding: 10px 0;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    padding-right: 50px;
    gap: 15px;
}

.menu a {
    color: white;
    text-decoration: none;
}